header {
    padding: 0 5rem;
}

main {
    padding: 2rem 5rem
}

li {
    list-style: none;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

li > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

li > div > img {
    max-height: 2.5rem;

    margin-right: 1rem;
}

li > div > p > a {
    text-decoration: none;
    color: black;
}

li > div > p > a:before {
    content: "";
    display: inline-block;

    background-image: url("../RESSOURCES/ICON/icon_paper-clip.png");
    background-size: 100%;

    position: relative;

    left: 0;
    top: 0;

    width: 1rem;
    height: 1rem;

    margin-right: 0.4rem;
}

iframe {
    border-radius: 8px;
}