header {
    padding: 0 5rem;
}

main {
    padding: 2rem 5rem
}

/*h3 {*/
/*    position: relative;*/

/*    text-transform: uppercase;*/
/*    letter-spacing: 8px;*/
/*}*/

/*h3:after {*/
/*    content: "";*/

/*    display: block;*/

/*    position: absolute;*/

/*    right: 0rem;*/
/*    top: 50%;*/

/*    height: 0.1rem;*/
/*    width: 55rem;*/

/*    background-color: black;*/
/*}*/

/*.title-with-bar {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/

/*.title-with-bar > h3 {*/
/*    white-space: nowrap;*/
/*}*/

/*.title-with-bar > span {*/
/*    margin: 0 1.5rem;*/

/*    display: block;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: black;*/
/*}*/

section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

/*  BBB     OOO    K   K  */
/*  B  B   O   O   K  K   */
/*  B  B   O   O   K K    */
/*  BBB    O   O   KK     */
/*  B  B   O   O   K K    */
/*  B  B   O   O   K  K   */
/*  BBB     OOO    K   K  */

section > div > article {
    position: relative;

    flex-basis: 35%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    /*overflow: hidden;*/

    background-color: #f6f6e9;
    /*background-color: #d0bea3;*/

    border: 7px solid #c4204b ;

    border-radius: 15px;

    margin: 2rem;
    padding: 1rem 3rem 0rem 3rem;
}

.id_int {
    background-image: url("../RESSOURCES/PHOTOS/ID-INT.jpg");

    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
}

.but {
    background-image: url("../RESSOURCES/PHOTOS/IUT-LAN.jpg");

    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
}

.lycee {
    background-image: url("../RESSOURCES/PHOTOS/DDL.jpg");

    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

section > div > article > h4 {
    /*align-self: center;*/

    margin: 0.5rem 0;
    margin-bottom: 2rem;

    text-transform: uppercase;
    letter-spacing: 5px;

    background-color: white;
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
}

section > div >  article > p {
    text-align: center;
    background-color: rgba(239,239,239,0.75);
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    margin: 0.5rem 0;
}


/** {*/
/*    border: 4px dotted red;*/
/*}*/



