header {
    padding: 0 5rem;
}

main {
    padding: 2rem 5rem
}

/*h3 {*/
/*    position: relative;*/

/*    text-transform: uppercase;*/
/*    letter-spacing: 8px;*/
/*}*/

/*h3:after {*/
/*    content: "";*/

/*    display: block;*/

/*    position: absolute;*/

/*    right: 0rem;*/
/*    top: 50%;*/

/*    height: 0.1rem;*/
/*    width: 55rem;*/

/*    background-color: black;*/
/*}*/

/*.title-with-bar {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/

/*.title-with-bar > h3 {*/
/*    white-space: nowrap;*/
/*}*/

/*.title-with-bar > span {*/
/*    margin: 0 1.5rem;*/

/*    display: block;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: black;*/
/*}*/

section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

/*  BBB     OOO    K   K  */
/*  B  B   O   O   K  K   */
/*  B  B   O   O   K K    */
/*  BBB    O   O   KK     */
/*  B  B   O   O   K K    */
/*  B  B   O   O   K  K   */
/*  BBB     OOO    K   K  */

section > div > article {
    position: relative;

    flex-basis: 35%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    /*overflow: hidden;*/

    background-color: #f6f6e9;
    /*background-color: #d0bea3;*/

    border: 7px solid #c4204b ;

    border-radius: 15px;

    margin: 2rem;
    padding: 1rem 3rem 0rem 3rem;
}

.kohfrais {
    background-image: url("../RESSOURCES/PHOTOS/carte_professionnel.jpg");

    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
}

.perso {
    background-image: url("../RESSOURCES/PHOTOS/BANNER.jpg");

    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
}

.dino {
    background-image: url("../RESSOURCES/PHOTOS/Dino-Bot.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.yams {
    background-image: url("../RESSOURCES/PHOTOS/yams.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.cavalier {
    background-image: url("../RESSOURCES/PHOTOS/cavalier.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}
/*.fond {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: -1%;*/
/*    max-width: 102%;*/

/*    transform: scale(1.05);*/
/*}*/

section > div > article > h4 {
    /*align-self: center;*/

    margin: 0.5rem 0;
    margin-bottom: 2rem;

    text-transform: uppercase;
    letter-spacing: 5px;

    background-color: white;
    border-radius: 8px;
    padding: 0.2rem 0.4rem;

}

/*section > div > article > h4 > a {*/
/*    position: relative;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*section > div > article > h4 > a:after {*/
/*    content: "";*/

/*    display: block;*/

/*    position: absolute;*/

/*    bottom: -0.45rem;*/
/*    left: -0.42rem;*/

/*    width: 0;*/
/*    height: 0.4rem;*/

/*    background-color: #c4204b;*/

/*    transition: width 250ms;*/

/*    border-radius: 0 0 0 8px;*/
/*}*/

/*section > div > article > h4 > a:hover:after {*/
/*    width: 3.42rem;*/
/*}*/

section > div >  article > p {
    text-align: center;
    background-color: rgba(239,239,239,0.75);
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    margin: 0.5rem 0;
}


/** {*/
/*    border: 4px dotted red;*/
/*}*/


section > div > article > div {
    /*align-self: stretch;*/

    padding: 0.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center; /* Si tu veux essayer de les centrer, met "center" ici */
    align-items: flex-start;

    background-color: white;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

section > div > article > div > img {
    margin: 0.6rem 1rem;
    max-width: 48px;

    /*background-color: white;*/
    /*border-radius: 8px;*/
    /*padding: 0.25rem;*/
}
